<ng-include src="'views/nav.html'"></ng-include>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Ubuntu</th>
      <th>Gentoo</th>
      <th>Windows</th>
    </tr>
  </thead>
  <tbody>
    <tr class="warning">
      <td>#5</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="success">
      <td>#4</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="success">
      <td>#3</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="success">
      <td>#2</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="error">
      <td>#1</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
