<div class="masthead">
  <h3 class="muted"></h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav" ng-controller="NavCtrl">
          <li ng-class="{ active: isActive('/source') }"><a href="#/source">源码浏览</a></li>
          <li ng-class="{ active: isActive('/') || isActive('/ticket/show') }"><a href="#">查看任务单</a></li>
          <li ng-class="{ active: isActive('/ticket/new') }"><a href="#/ticket/new">创建新任务单</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->
</div>
