<ng-include src="'views/nav.html'"></ng-include>

<div class="row">
  <div class="span12">
    <h3>#{{ ticket.short_id }} {{ ticket.summary }}</h3>
    <div class="row">
      <div class="span6">提交者：{{ ticket.reporter }}</div>
      <div class="span6">分派给：{{ ticket.assigned }}</div>
    </div>
    <div class="row">
      <div class="span6">状态：{{ ticket.status }}</div>
      <div class="span6">里程碑：{{ ticket.milestone }}</div>
    </div>
    <div class="row">
      <div class="span6">组建：{{ ticket.category }}</div>
      <div class="span6">版本：{{ ticket.version }}</div>
    </div>
  </div>
  <div class="span12">
    <h4>描述</h4>
    <p>{{ ticket.description }}</p>
  </div>
  <div class="span12">
    <h4>子任务</h4>
  </div>
  <div class="span12">
    <h4>相关任务</h4>
  </div>
  <div class="span12">
    <h4>附件</h4>
  </div>
  <div class="span12">
    <h4>变更历史</h4>
  </div>
  <form class="form-horizontal" ng-submit="save()" ng-controller="TicketUpdateCtrl">
  <div class="span12">
    <h4 data-toggle="collapse" data-target="#update">修改任务单</h4>
    <div class="collapse" id="update">
      <ng-include src="'views/ticket_form.html'"></ng-include>
    </div>
  </div>
  <div class="span12">
    <div class="form-actions">
      <button type="button" class="btn">预览</button>
      <button type="submit" class="btn btn-primary">修改</button>
    </div>
  </div>
  </form>
</div>
