<ng-include src="'views/nav.html'"></ng-include>

<div class="row">
  <div class="span12">
    <h3>#{{ ticket.id }} {{ ticket.summary }}</h3>
    <div class="row">
      <div class="span6">提交者：{{ ticket.reporter }}</div>
      <div class="span6">分派给：{{ ticket.assigned }}</div>
    </div>
  </div>
  <div class="span12">
    <h4>描述</h4>
    <p>{{ ticket.description }}</p>
  </div>
  <div class="span12">
    <h4>子任务</h4>
  </div>
  <div class="span12">
    <h4>相关任务</h4>
  </div>
  <div class="span12">
    <h4>附件</h4>
  </div>
  <div class="span12">
    <h4>变更历史</h4>
  </div>
</div>
