<form>
  <fieldset>
    <legend data-toggle="collapse" data-target="#filter">过滤</legend>
    <div class="collapse in" id="filter">
      <label class="checkbox inline">
        <input type="checkbox" />状态
      </label>
    </div>
  </fieldset>
  <fieldset>
    <legend data-toggle="collapse" data-target="#show">显示</legend>
    <div class="collapse" id="show">
      <label class="checkbox inline">
        <input type="checkbox" checked />摘要
      </label>
      <label class="checkbox inline">
        <input type="checkbox" checked />类型
      </label>
      <label class="checkbox inline">
        <input type="checkbox" checked />状态
      </label>
      <label class="checkbox inline">
        <input type="checkbox" checked />优先级
      </label>
      <label class="checkbox inline">
        <input type="checkbox" checked />指派给
      </label>
      <label class="checkbox inline">
        <input type="checkbox" checked />里程碑
      </label>
      <label class="checkbox inline">
        <input type="checkbox" />分类/组件
      </label>
      <div class="control-group">
        <label class="control-label" for="inputPassword">分组</label>
        <div class="controls">
          <select>
            <option>类型</option>
            <option>状态</option>
            <option>优先级</option>
            <option>里程碑</option>
          </select>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<div id="options">
  <ul class="dropdown-menu">
    <li><a href="#">指派给</a></li>
    <li><a href="#">目标版本</a></li>
    <li><a href="#">里程碑</a></li>
    <li class="divider"></li>
    <li><a ng-click="removeTickets()">删除</a></li>
  </ul>
</div>

<div ng-controller="TicketReadCtrl">
  <pagination boundary-links="true" total-items="totalItems" page="currentPage" max-size="maxSize" items-per-page="perPage" on-select-page="selectPage(page)" rotate="false" class="pagination pagination-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  <table id="tickets" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>类别</th>
        <th>状态</th>
        <th>优先级</th>
        <th>摘要</th>
        <th>指派给</th>
        <th>里程碑</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ticket in tickets" ng-class="{info: rowIds[$index]}" ng-click="selectRow($event, $index)" ng-right-click="showOptions($event, $index)">
        <td><input type="checkbox" value="{{ ticket.id }}" ng-checked="rowIds[$index]" /></td>
        <td><a href="#/ticket/update/{{ ticket.id }}">#{{ ticket.short_id }}</a></td>
        <td>{{ ticket.type }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.priority }}</td>
        <td><a href="#/ticket/update/{{ ticket.id }}">{{ ticket.summary }}</a></td>
        <td>{{ ticket.assigned }}</td>
        <td>{{ ticket.milestone }}</td>
      </tr>
    </tbody>
  </table>
  <pagination boundary-links="true" total-items="totalItems" page="currentPage" max-size="maxSize" items-per-page="perPage" on-select-page="selectPage(page)" rotate="false" class="pagination pagination-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
