<div class="row">
  <div class="span9">
    <div class="control-group">
      <label class="control-label" for="inputSummary">概述</label>
      <div class="controls">
        <input class="span8" type="text" id="inputSummary" ng-model="ticket.summary" required />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputDescription">描述</label>
      <div class="controls">
        <textarea class="span8" rows="10" id="inputDescription" ng-model="ticket.description"></textarea>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="control-group">
      <label class="control-label" for="inputType">类型</label>
      <div class="controls">
        <select id="inputType" ng-model="ticket.type">
          <option ng-repeat="type in types" ng-selected="type.default">{{ type.name }}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputMilestone">里程碑/目标版本</label>
      <div class="controls">
        <select id="inputMilestone" ng-model="ticket.milestone">
          <option ng-repeat="milestone in milestones" ng-selected="milestone.default">{{ milestone.name }}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputVersion">当前版本</label>
      <div class="controls">
        <select id="inputVersion" ng-model="ticket.version">
          <option ng-repeat="version in versions" ng-selected="version.default">{{ version.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="span1"></div>
  <div class="span4">
    <div class="control-group">
      <label class="control-label" for="inputParent">父任务</label>
      <div class="controls">
        <input type="text" id="inputParent" placeholder="输入关键词自动显示匹配父任务" ng-model="ticket.parent" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputCategory">类别/组件</label>
      <div class="controls">
        <select id="inputCategory" ng-model="ticket.category">
          <option ng-repeat="category in categorys" ng-selected="category.default">{{ category.name }}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputAssigned">指派给</label>
      <div class="controls">
        <select id="inputAssigned" ng-model="ticket.assigned">
          <option ng-repeat="assigned in assigneds">{{ assigned }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="span9">
    <div class="control-group">
      <label class="control-label" for="inputFile">附件</label>
      <div class="controls"  ng-controller="FileUploadCtrl">
        <input ng-file-select id="inputFile" type="file" multiple  />附件数量：{{ uploader.queue.length }}
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>文件名</th>
                <th>大小</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in uploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td nowrap>{{ item.file.size/1024|number:2 }} KB</td>
                <td nowrap>
                  <button type="button" class="btn btn-danger btn-small" ng-click="item.remove()">
                    <i class="icon-trash icon-white"></i> 清空
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <button type="button" class="btn btn-danger btn-small" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
              <i class="icon-trash icon-white"></i> 清空所有
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">抄送/跟踪者</label>
      <div class="controls">
        <label class="checkbox inline" ng-repeat="cc in ccs">
          <input type="checkbox" ng-model="ticket.ccs[cc]">{{ cc }}
        </label>
      </div>
    </div>
  </div>
</div>
